h1, h2, h3, h4, h5, h6 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, li, ol {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container {
  width: 600px;
  display: inline-block;
  text-align: left;
}
